.clients {
  min-height: 360px;
  background: #e5e5e5;

  &__title {
    text-align: center;
    position: relative;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: rgba(86, 86, 86, 1);
    font-style: normal;
    font-size: 50px;
    line-height: 60px;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  &__img {
    margin-right: 155px;
  }
}
